<div class="accom-show">
  <svg id="close-btn" xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-x" width="40" height="40" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <line x1="18" y1="6" x2="6" y2="18" />
    <line x1="6" y1="6" x2="18" y2="18" />
  </svg>
  <div class="carousel-show">
    <div id="carouselExampleCtrls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <%= cl_image_tag @accomodation.photos.first.key, class: "d-block w-100 fixed-height" %>
        </div>
        <% @accomodation.photos[1..-1].each do |photo| %>
          <div class="carousel-item">
            <%= cl_image_tag photo.key, class: "d-block w-100 fixed-height" %>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleCtrls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleCtrls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <div class="accom-show-info">
    <h2><%= @accomodation.name %></h2>
    <p><strong><%= @accomodation.price_per_night %> kr.</strong></p>
    <p><%= @accomodation.description %></p>
    <div id="add-to-itinerary">
      Add to my itinerary
    </div>
  </div>
</div>



