<div class="home-banner">
    <div class="home-navbar">
      <%= link_to root_path do %>
      <div class="logo">
        <%= image_tag "trailbooks-logo.png" %>
        <p>TRAILBOOKS</p>
      </div>
      <% end %>
      <div class="login-signup">
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "login" %>
        <% else %>
          <%= link_to "Log in", new_user_session_path, class: "login" %>
          <%= link_to "Sign up", new_user_registration_path, class: "signup" %>
        <% end %>
      </div>
    </div>

  <div class="title-tagline">
    <h1>Plan your trail accommodation</h1>
    <p>For self guided hikers to find and reserve mountain huts and campsites on popular trails</p>
  </div>
</div>

