<h1><%= @trail.name %></h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-xl-2" id="reservations-col">
      <h4>All trailstages</h4>
      <% @trail.trail_stages.each do |ts| %>
        <div>
          <p><%= ts.stage_number %>. <%= ts.name %></p>
          <p>...
            <p>
            </div>
          <% end %>
        </div>
        <div class="col" id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY']%>"></div>
      </div>
    </div>
