<%= render "shared/navbar" %>

<div class="container-fluid">
  <div class="row">
    <div id="sidebar">
<!-- TABS START -->
<!-- TABS LIST-->
      <nav>
        <div class="nav list-inline tabs-underlined" id="nav-tab" role="tablist">
          <a class="nav-item nav-link tab-underlined active" id="nav-itinerary-tab" data-toggle="tab" href="#nav-itinerary" role="tab" aria-controls="nav-itinerary" aria-selected="true">My Itinerary</a>
          <a class="nav-item nav-link tab-underlined" id="nav-trailstages-tab" data-toggle="tab" href="#nav-trailstages" role="tab" aria-controls="nav-trailstages" aria-selected="false">Trail Stages</a>
        </div>
      </nav>
<!-- TAB CONTENT -->
      <div class="tab-content" id="nav-tabContent">
<!-- itinerary -->
        <div class="tab-pane fade show active" id="nav-itinerary" role="tabpanel" aria-labelledby="nav-itinerary-tab">
          <div class="start-date">
                <%= simple_form_for :search, method: "get" do |f| %>
                  <%= f.input :checkin_date, as: :string, remote: true,  required: true, input_html: {class: "datepicker"} %>
                  <%= f.button :submit, "Let's go!", class: "btn btn-primary" %>
                <% end %>
          </div>
          <div class="itinerary-card">
            <div class="grey-section">
              <p>DAY 1</p>
              <p><strong>24TH JULY 2020</strong></p>
            </div>
            <div class="white-section">
              <svg width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <line x1="1" y1="1" x2="20.0238" y2="1" stroke="#828282" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <line x1="1.01172" y1="7" x2="20.0355" y2="7" stroke="#828282" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                <line x1="1.01172" y1="13" x2="20.0355" y2="13" stroke="#828282" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              <div class="info">
                <p class="itinerary-name">Rifugio Bonatti</p>
                <p class="itinerary-price">34€</p>
              </div>
              <svg width="19" height="22" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M0 1.00351C0 0.449285 0.449949 0 1.00685 0H12.9932C13.5492 0 14 0.439668 14 1.00351V15.4342C14 15.9884 13.6432 16.1611 13.2106 15.8257L7.78938 11.6226C7.35342 11.2846 6.64325 11.2872 6.21062 11.6226L0.789382 15.8257C0.353418 16.1637 0 15.998 0 15.4342V1.00351Z" fill="#A31621"/>
              </svg>
            </div>
          </div>
        </div>
<!-- trailstages -->
        <div class="tab-pane fade" id="nav-trailstages" role="tabpanel" aria-labelledby="nav-trailstages-tab">
          <% @trail.trail_stages.each do |ts| %>
            <div class="ts-<%=ts.stage_number%>">
              <p><%= ts.stage_number %>. <%= ts.name %></p>
            </div>
          <% end %>
        </div>
        <div class="tab-pane fade" id="nav-trailstages" role="tabpanel" aria-labelledby="nav-trailstages-tab">
          <div class="first-stage">
            <div class="icon-line">
              <div class="start-marker"></div>
              <div class="vl"></div>
            </div>
            <p>Landmannalangar</p>
          </div>
        </div>
      </div>
<!-- TABS END -->
    </div>

<!-- MAP -->
    <div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY']%>"></div>
<!-- ACCOMMODATION SHOW OVERLAY-->
    <div class="accommodation-container"></div>
  </div>
</div>
