<!-- MAP STYLESHEET -->
<link rel="stylesheet" href="https://api.mapbox.com/mapbox-gl-js/v1.12.0/mapbox-gl.css">
<!-- MAP -->
<div id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY']%>">
  <%= image_tag "profile.jpg", class: "avatar dropdown-toggle user-profile", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
    <%= link_to "My Itineraries", trails_path, class: "dropdown-item" %>
    <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
  </div>
  <h2 class="logo-on-map">
    <%= link_to root_path do %>
      TRAILBOOKS
    <% end %>
  </h2>
  <div data-controller="reservation">
    <div id="sidebar">
      <h1>
        <strong><%= @trail.name %></strong> | <%= @trail.country %>
      </h1>
      <div class="nav tabs-underlined" role="tablist">
        <a class="tab-underlined active" id="nav-itinerary-tab" data-toggle="tab" href="#nav-itinerary" role="tab" aria-controls="nav-itinerary" aria-selected="true">My Itinerary</a>
        <a class="tab-underlined" id="nav-trailstages-tab" data-toggle="tab" href="#nav-trailstages" role="tab" aria-controls="nav-trailstages" aria-selected="false">Trail Stages</a>
      </div>
      <div class="tab-content sidebar-tabs">
        <!-- ITINERARY TAB -->
        <div class="tab-pane fade show active" id="nav-itinerary" role="tabpanel" aria-labelledby="nav-itinerary-tab">
          <%= render "itinerary", reservations: @reservations %>
          <%# <a href="#" class="btn-reserve">Reserve all</a> %>
          <%= link_to "Reserve all", itinerary_path(@itinerary), method: :patch, class: "btn-reserve"%>
        </div>
        <!-- TRAILSTAGES TAB -->
        <div class="tab-pane fade" id="nav-trailstages" role="tabpanel" aria-labelledby="nav-trailstages-tab">
          <% @trail.trail_stages.each do |ts| %>
            <% if ts.stage_number == 0 %>
              <!-- FIRST STAGE -->
              <div class="trailstage-container">
                <div class="icon-line">
                  <div class="marker-ts-start"></div>
                  <div class="vl-long"></div>
                </div>
                <p><%= ts.name %></p>
              </div>
            <% elsif ts.stage_number == (@trail.trail_stages.length - 1) %>
              <!-- FINAL STAGE -->
              <div class="trailstage-container">
                <div class="icon-line">
                  <div class="marker-ts-end"></div>
                </div>
                <p><%= ts.name %></p>
              </div>
            <% else %>
              <!-- MID STAGE -->
              <div class="trailstage-container">
                <div class="icon-line">
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-walk" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#c4c4c4" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <circle cx="13" cy="4" r="1" />
                    <line x1="7" y1="21" x2="10" y2="17" />
                    <path d="M16 21l-2 -4l-3 -3l1 -6" />
                    <path d="M6 12l2 -3l4 -1l3 3l3 1" />
                  </svg>
                  <div class="vl-short"></div>
                </div>
                <div class="trailstage-stats">
                  <p id="distance">12km</p>
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-up-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#c4c4c4" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <line x1="17" y1="7" x2="7" y2="17" />
                    <polyline points="8 7 17 7 17 16" />
                  </svg>
                  <p>300m</p>
                  <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-down-right" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#c4c4c4" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <line x1="7" y1="7" x2="17" y2="17" />
                    <polyline points="17 8 17 17 8 17" />
                  </svg>
                  <p>798m</p>
                </div>
              </div>
              <div class="trailstage-container">
                <div class="icon-line">
                  <div class="mid-marker"><%= ts.stage_number %></div>
                  <div class="vl-long"></div>
                </div>
                <p><%= ts.name %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="accommodation-container"><!-- ACCOMMODATION SHOW --></div>
  </div>
</div>
