

<h1><%= @trail.name %></h1>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-xl-3" id="reservations-col">
      <!-- TABS -->
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-trailstages-tab" data-toggle="tab" href="#nav-trailstages" role="tab" aria-controls="nav-trailstages" aria-selected="true">All trailstages</a>
          <a class="nav-item nav-link" id="nav-itinerary-tab" data-toggle="tab" href="#nav-itinerary" role="tab" aria-controls="nav-itinerary" aria-selected="false">My itinerary</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <!-- trailstages tab content -->
        <div class="tab-pane fade show active" id="nav-trailstages" role="tabpanel" aria-labelledby="nav-trailstages-tab">
          <% @trail.trail_stages.each do |ts| %>
            <div class="ts-<%=ts.stage_number%>">
              <p><%= ts.stage_number %>. <%= ts.name %></p>
              <p>...
              <p>
            </div>
          <% end %>
        </div>
                <!-- itinerary tab content -->
        <div class="tab-pane fade" id="nav-itinerary" role="tabpanel" aria-labelledby="nav-itinerary-tab">
          Add you accomodations here
          ...
        </div>
      </div>
      <!-- end of TABS -->
    </div>
    <!-- MAP -->
    <div class="col" id="map" data-markers="<%= @markers.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY']%>"></div>
    <!-- accomodation overlay -->
    <div class="accomodation-container"></div>
  </div>
</div>